@{
    Layout = null;
}
@model ProductListViewModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<section class="container-fluid py-3 back-image">
    <h1 class="bg-danger text-light text-center rounded-pill border border-4 py-2 border-warning all-prd">ALL PRODUCTS</h1>
    <div class="container p-4 border border-1 border-danger rounded div-container mt-5">
        <div class="row ">
            @foreach (var product in @Model.ProductList)
            {
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 py-2 px-2">
                    <div class="bg-info w-100 h-100 px-2 py-5 text-light border border-1 border-primary rounded text-center product ">
                        <div class="w-75 h-50 bg-dark rounded m-auto">
                            <img src="@product.ImagePath" class="w-100 h-100 rounded " />
                        </div>
                        <h4 class=" text-light">ID : @product.Id</h4>
                        <h3 class="fs-1 text-light">Name : @product.Name</h3>
                        <h4 class="fs-5 text-light">Price : @product.Price <span class="text-success">$</span></h4>
                        <h5 class="fs-5 text-light">Discount : @product.Discount <span class="text-warning">%</span></h5>
                        <h6 class="h6 font-weight-bold text-light border-dark w-50 m-auto border">Description</h6>
                        <p class="text-light w-50 m-auto font-weight-bold">@product.Description</p>
                        <div class="w-75 m-auto py-2">
                            <a class="update text-white rounded-pill p-2" style="font-size:12px;margin-top:60px;"
                               asp-controller="Product" asp-action="Update" asp-route-id="@product.Id">UPDATE</a>
                            <a class="delete text-white rounded-pill border p-2 " style="font-size:12px;margin-top:60px;"
                               asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">DELETE</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        @* position-fixed top-0 start-0 z-index-3 *@
        <div class="m-auto text-center bg-success py-3 rounded rounded-pill mt-2 border border-light w-25 for-fixed">
            <a href="/Product/add" class="text-light">Add New Product</a>
        </div>

    </div>

</section>